<ion-view title="Ionizer API Youtube">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-search"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher on-refresh="doRefresh()" pulling-text="Text while Pulling..." refreshing-text="Text while refreshing...">
        </ion-refresher>

        <div class="row responsive-sm" ng-repeat="rows in DataAPI">
            <div class="col" ng-repeat="item in rows">
                <div class="card" ng-click="openSubscription('{{item.API_ID}}')">
                    <div class="item item-text-wrap">
                        <h2>{{item.API_Title}}</h2>
                        <p>{{item.API_Subtext}}</p>
                    </div>
                    <div class="item item-image youtube-image" ng-click="openVideo('{{item.API_ID}}')">
                        <img ng-src="{{item.API_IMGURL}}">
                    </div>

                    <!--
                    <div class="media-container">
                        <iframe width="640" height="385" ng-src="{{item.API_Video}}" allowfullscreen frameborder="0">
                        </iframe>
                    </div> -->
                    <div class="item item-text-wrap">
                        <!--
                        <p>
                            {{item.API_Duration}}&nbsp;
                            <i class="icon ion-thumbsup"></i> {{item.API_Like}}&nbsp;
                            <i class="icon ion-thumbsdown"></i> {{item.API_Dislike}}
                        </p> -->
                        <p class="subdued">
                            <br> {{item.API_AddText}}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
